@font-face {
    font-family: ad_bhashitha;
    src: url('../fonts/sinhala/ad_bhashitha.otf');
}
@font-face {
    font-family: bhashitha1;
    src: url('../fonts/sinhala/bhashitha1.ttf');
}
@font-face {
    font-family: bhashitha2;
    src: url('../fonts/sinhala/bhashitha2.ttf');
}
@font-face {
    font-family: bhashitha2_sans;
    src: url('../fonts/sinhala/bhashitha2_sans.ttf');
}
@font-face {
    font-family: bhashitha_complex;
    src: url('../fonts/sinhala/bhashitha_complex.ttf');
}
@font-face {
    font-family: bhashitha_complex_bold;
    src: url('../fonts/sinhala/bhashitha_complex_bold.ttf');
}
@font-face {
    font-family: bhashitha_complex_sans;
    src: url('../fonts/sinhala/bhashitha_complex_sans.ttf');
}
@font-face {
    font-family: bhashitha_complex_sans_bold;
    src: url('../fonts/sinhala/bhashitha_complex_sans_bold.ttf');
}
@font-face {
    font-family: bhashitha_screen;
    src: url('../fonts/sinhala/bhashitha_screen.ttf');
}
@font-face {
    font-family: dinamina;
    src: url('../fonts/sinhala/dinamina.ttf');
}
@font-face {
    font-family: lklug;
    src: url('../fonts/sinhala/lklug.ttf');
}
@font-face {
    font-family: puskola_potha;
    src: url('../fonts/sinhala/puskola_potha.ttf');
}
@font-face {
    font-family: sulakna;
    src: url('../fonts/sinhala/sulakna.ttf');
}
@font-face {
    font-family: warna;
    src: url('../fonts/sinhala/warna.ttf');
}